<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Soroka Yurii">
    <test name="ScreenShotTest">
        <groups>
<!--            <define name="smoke"/>-->
        </groups>
        <classes>
            <class name="YoutubeProxyTests.YoutubeAllureTestNGTest"/>

        </classes>
    </test>
</suite>